<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<h2>Edit account {account.number}</h2>

<ul>
  <li>Account number: #{account.number}</li>
  <li>Account holder: {cleanAccount.holder}</li>
</ul>

<f:form name="account" object="{account}" action="update">
  <div class="input-group">
    <span class="input-group-addon glyphicon glyphicon-user"></span>
    <f:form.textfield property="holder" class="form-control" placeholder="Name of account holder" />
  </div>

  <f:link.action action="list" class="btn btn-primary" additionalAttributes="{role:'button'}">
    <span class="glyphicon glyphicon-chevron-left"></span>
    back to list
  </f:link.action>
  <button class="btn btn-primary" role="button">
    <span class="glyphicon glyphicon-plus"></span>
    update account
  </button>
</f:form>

</html>