<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<h2>List of accounts</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Account Number</th>
      <th>Account Holder</th>
      <th>Balance €</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <f:if condition="{accounts}">
      <f:else>
        <tr>
          <td colspan="4">No account information available</td>
        </tr>
      </f:else>
    </f:if>
    <f:for each="{accounts}" as="account">
      <tr class="{f:if(condition:'{account.closed}',then:'account-closed')}">
        <td>#{account.number}</td>
        <td>{account.holder}</td>
        <td>{account.balance}</td>
        <td>
          <f:link.action action="show" class="btn btn-default" additionalAttributes="{role:'button'}" arguments="{account:account}">
            <span class="glyphicon glyphicon-search"></span>
          </f:link.action>
          <f:if condition="{account.closed}">
            <f:else>
              <button role="button" class="btn btn-danger" data-toggle="modal" data-target="#close-modal-{account.uuid}">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
              <f:render partial="Modals/AccountClose" arguments="{_all}" />
            </f:else>
          </f:if>
        </td>
      </tr>
    </f:for>
  </tbody>
</table>

<f:link.action action="new" class="btn btn-primary" additionalAttributes="{role:'button'}">
  <span class="glyphicon glyphicon-plus"></span>
  Create account
</f:link.action>

</html>