<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:bank="http://typo3.org/ns/H4ck3r31/BankAccountExample/ViewHelpers">

<f:layout name="Default" />

<f:section name="Header">
  <h2>Edit account {account.number}</h2>
</f:section>

<f:section name="Main">
  <ul>
    <li>Account number: {account.iban}</li>
    <li>Account holder: {account.accountHolder}</li>
  </ul>

  <f:form name="accountDto" object="{accountDto}" action="update" controller="Command" arguments="{bankDto:'{bankDto -> bank:toArray()}'}">
    <f:form.hidden property="iban" />
    <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-user"></span>
      <f:form.textfield property="accountHolder" class="form-control" placeholder="Name of account holder" />
    </div>

    <f:link.action action="listAccounts" class="btn btn-primary" additionalAttributes="{role:'button'}" arguments="{bankDto:'{bankDto -> bank:toArray()}'}">
      <span class="glyphicon glyphicon-chevron-left"></span>
      back to list
    </f:link.action>
    <button class="btn btn-primary" role="button">
      <span class="glyphicon glyphicon-pencil"></span>
      update account
    </button>
  </f:form>
</f:section>

</html>