<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:bank="http://typo3.org/ns/H4ck3r31/BankAccountExample/ViewHelpers">

<f:layout name="Default" />

<f:section name="Header">
  <h2>List of accounts</h2>
  <h3>{bank.name} ({bank.nationalCode}{bank.branchCode}{bank.subsidiaryCode})</h3>
</f:section>

<f:section name="Main">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Account Number</th>
        <th>Account Holder</th>
        <th>Balance €</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <f:if condition="{accountDtos}">
        <f:else>
          <tr>
            <td colspan="4">No account information available</td>
          </tr>
        </f:else>
      </f:if>
      <f:for each="{accountDtos}" as="accountDto">
        <tr class="{f:if(condition:'{accountDto.closed}',then:'account-closed')}">
          <td>
            {accountDto.iban}
            <f:if condition="{accountDto.closed}">
              <span class="glyphicon glyphicon-lock" title="closed account"></span>
            </f:if>
          </td>
          <td>
            {accountDto.accountHolder}
          </td>
          <td>
            {accountDto.balance -> f:format.currency(decimals:2)}
          </td>
          <td>
            <f:link.action action="show" class="btn btn-default" additionalAttributes="{role:'button'}" arguments="{iban: accountDto.iban}">
              <span class="glyphicon glyphicon-search" title="show details"></span>
            </f:link.action>
            <f:if condition="{accountDto.closed}">
              <f:else>
                <f:link.action action="edit" class="btn btn-default" additionalAttributes="{role:'button'}" arguments="{iban: accountDto.iban}">
                  <span class="glyphicon glyphicon-pencil" title="change holder"></span>
                </f:link.action>
                <f:render partial="Modals/AccountClose" arguments="{_all}" />
              </f:else>
            </f:if>
          </td>
        </tr>
      </f:for>
    </tbody>
  </table>

  <f:link.action action="listBanks" class="btn btn-primary" additionalAttributes="{role:'button'}">
    <span class="glyphicon glyphicon-chevron-left"></span>
    back to bank list
  </f:link.action>
  <f:link.action action="new" class="btn btn-primary" additionalAttributes="{role:'button'}"
                 arguments="{bankDto:'{bank -> bank:toArray()}'}">
    <span class="glyphicon glyphicon-plus"></span>
    create account
  </f:link.action>
</f:section>

</html>